Confirm registration for Rocco's Collision PTO
=====
<p>Hello {{name}},</p>

<p>To complete your registration process in Rocco's Collision PTO please click on the following link:</p>

<p>{{confirm_registration_link}}</p>

<p>Thanks</p>
