Registration completed
=====
<p>Hello <strong>{{user.name}}</strong>,</p>

<p>Thank you for registering a new account on {{> email/link href=(get_application_domain) text="Rocco's Collision PTO" }}</p>

<p>Thanks</p>
