Reset password for Rocco's Collision PTO 
=====
{{# with user ~}}
<p>Hello <strong>{{this.name}}</strong>,</p>

<p>Your password for {{> email/link href=(get_application_domain) text='Rocco\'s Collision PTO' }} was successfully changed.</p>

{{~/ with }}

<p>Thanks</p>
